<div class="back">
  <p id="back"> &laquo;Back to the list</p>
</div>

<div id='searchbox'>
  <label> Search </label>
  <input id="searchVenue" type="text" value placeholder="company name"></input>
</div>

